.features-top {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 3rem;
  margin: 7rem 0;
}
.features-top__heading h1,
.features-middle__description h1 {
  margin-top: 2rem;
  width: 60%;
  font-family: var(--font-family);
}
.features-top__heading p {
  margin-top: 2rem;
  color: var(--color-subtext);
  font-size: 1rem;
}
.features-top-description__section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: end;
  gap: 3rem;
  margin-top: 2rem;
}
.features-top-description__section p {
  color: var(--color-text);
}
.features-top-description__section__header {
  font-size: 0.25rem;
}

/* // middle section  */
.features-middle {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 3rem;
}

.features-middle__image {
  width: 100%;
}
.features-middle__image img {
  width: 30rem;
}
.features-middle__description {
  width: 90%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
@media (max-width: 992px) {
  .features-middle {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
@media (max-width: 768px) {
  .features-middle__image img {
    width: 30rem;
  }
}
@media (max-width: 640px) {
  .features-middle__image img {
    width: 20rem;
  }
}
.features-middle__description p:nth-child(1) {
  color: #71e5ff;
  font-size: 1.25rem;
}
.features-middle__description p:nth-child(3) {
  color: var(--color-text);
  font-size: 1rem;
  line-height: 2rem;
}
.features-middle__description p:nth-child(4) {
  color: var(--color-subtext);
  font-size: 1rem;
}
/* // bottom section  */
.features-bottom {
  background-image: var(--gradient-bar);
  border-radius: 10px;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  padding: 2rem 2rem;
  justify-content: center;
  gap: 2rem;
  margin-top: 150px;
  margin-bottom: 150px;
}
.features-bottom__text p,
h2 {
  font-family: var(--font-family);
  color: black;
}
.features-bottom-button p {
  border-radius: 40px;
  color: white;
  background-color: black;
  padding: 15px 35px;
}
