.footer {
  background-color: var(--color-footer);
}
.footer-header {
  display: flex;
  justify-content: center;
  flex-flow: column wrap;
  align-items: center;
}
.footer-content {
  font-family: var(--font-family);
  font-weight: 800;
  font-size: 62px;
  letter-spacing: -0.04em;
  width: 70%;
}
@media (max-width: 768px) {
  .footer-content {
    font-size: 48px;
  }
}
@media (max-width: 640px) {
  .footer-content {
    font-size: 32px;
  }
}

/* // footer section links  */
.footer-section-links {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  align-items: start;
  flex-wrap: wrap;
  gap: 7rem;
  width: 100%;
}
.footer-section-links div:nth-child(1) {
  align-self: center;
}

.footer-section-links p,
li {
  color: white;
  font-family: var(--font-family);
  font-size: 0.75rem;
  margin: 2rem 0;
}
.footer-section-links h2 {
  color: white;
}
.footer-btn {
  cursor: pointer;
  color: while;
  border: 1px solid white;
  padding: 15px 25px;
  margin-top: 50px;
  margin-bottom: 130px;
}

ul li:nth-child(1) {
  font-weight: bolder;
  font-size: 1rem;
}

.footer-reserved {
  color: white;
  margin-top: 70px;
}
